@use "colors";

#header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1320px;
  padding: 0 16px;
  margin: 0 auto;
  .inner {
    display: flex;
    align-items: center;
  }
  .itec {
    margin-right: 5%;
  }
}

.header_title {
  display: flex;
  align-items: center;
  img {
    max-width: 240px;
  }
  h1 {
    font-size: 3.6rem;
    margin-left: 20px;
    font-weight: bold;
    color: colors.$text-color;
    text-shadow: 0 4px 6px #b9b9b9;
  }
  @media screen and (max-width:768px) {
    h1 {
      display: none;
    }
  }
}
