#header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .inner {
    display: flex;
    align-items: center;
  }
}

.header_title {
  display: flex;
  align-items: center;
  img {
    max-width: 240px;
  }
  h1 {
    font-size: 3.6rem;
    margin-left: 20px;
    color: #2FC1FF;
    text-shadow: 0 4px 6px #b9b9b9;
  }
}
