@use "colors";

#information {
  margin-bottom: 120px;
  font-size: 1.4rem;
  line-height: 25px;
  .information-title {
    text-align: center;
    color: colors.$text-color;
    .information-title-ja {
      font-size: 3.6rem;
      margin-bottom: 15px;
      font-weight: bold;
    }
    .information-title-en {
      font-size: 2.4rem;
      margin-bottom: 50px;
    }
  }
  .information-contents {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    dt {
      width: 20%;
      border-bottom: 1px dashed #c8c8c8;
      padding: 15px;
    }
    dd {
      width: 80%;
      border-bottom: 1px dashed #c8c8c8;
      padding: 15px;
    }
    @media screen and (max-width:768px) {
      flex-direction: column;
      dt {
        width: 100%;
        border-bottom: none;
      }
      dd {
        width: 100%;
      }
    }
  }
  @media screen and (max-width:920px) {
    .information-contents dt {
      padding-bottom: 0;
    }
  }
}