html {
  font-size: 62.5%;
  line-height: 1.5;
  letter-spacing: 1px;
}

.wrapper {
  width: 100%;
  max-width: 1032px;
  padding: 0 16px;
  margin: 0 auto;
}

.fadeup {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
}