#service {
  font-size: 1.4rem;
  line-height: 25px;
  margin-bottom: 120px;
  .transform-bg {
    position: absolute;
    top: 1850px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 350px;
    z-index: -100;
    background: #d8f1fe;
    transform: skewY(20deg);
    transform-origin: top left;
  }
  .transform-bg2 {
    position: absolute;
    top: 2350px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: -90;
    background: linear-gradient(90deg,#b6e5fe 0%,rgba(36, 200, 191, 0) 100%);
    transform-origin: top left;
  }
  .service-title {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  .service-text {
    text-align: center;
  }
  @media screen and (max-width:768px) {
    .service-text {
      font-size: 2rem;
    }
    .transform-bg {
      display: none;
    }
    .transform-bg2 {
      display: none;
    }
  }
}

.travel-service {
  .travel-contents {
    display: flex;
    margin-bottom: 60px;
    .contents-cards {
      display: flex;
      justify-content: space-between;
      .card {
        width: 32%;
        padding: 20px;
        img {
          width: 100%;
        }
      }
    }
    @media screen and (max-width:768px) {
      .contents-cards {
        flex-direction: column;
        text-align: center;
        width: 100%;
        .card {
          width: 100%;
          img {
            max-width: 70%;
          }
        }
      }
    }
  }
}

.schooltrip {
  padding: 30px;
  .schooltrip-title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .schooltrip-contents {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    text-align: center;
    .contents-item-left {
      width: 42%;
      margin-bottom: 30px;
      img {
        width: 360px;
        margin-bottom: 10px;
      }
    }
    .contents-item-right {
      width: 42%;
      margin-top: 130px;
      img {
        width: 360px;
        margin-bottom: 10px;
      }
    }
    .item {
      margin-bottom: 50px;
    }
  }
  @media screen and (max-width:760px) {
    .schooltrip-title {
      margin-bottom: 50px;
    }
    .schooltrip-contents {
      flex-direction: column;
      .contents-item-left {
        margin-bottom: 0;
        width: 100%;
        img {
          width: 85%;
        }
      }
      .contents-item-right {
        margin-top: 0;
        width: 100%;
        img {
          width: 85%;
        }
      }
    }
  }
}